* {
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1em;
    margin: 1em;
}

img {
    max-width: 100%;
    background-color: rgb(231, 226, 226);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#img1 {
    grid-column: 1 / 7;
}

#img2,
#img3 {
    grid-column: span 3;
}

#img4,
#img5 {
    grid-column: -13 / -10;
}

#img5 {
    grid-row: 3 / 4;
}

#img6 {
    grid-column: 4 /7;
}

#img7 {
    grid-column: -7 / -1;
}

#img6,
#img7 {
    grid-row: 2 / 4;
}